// Variables que tengan que ver con la página about.html
@use "globals" as *;

main {
    .items-about {
        font-family: $font-family-parrafo;
        font-size: $font-size-parrafo;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        flex-wrap: wrap;

        .items-left {
            width: 70%;
            @include respond-to("medium-l") {
                width: 500px;
            }
            .am-1 {
                background-color: $primary-primary02;
                width: 462px;
                border: 6px solid $secondary-secondary01;
                border-radius: $border-radius-general;
                position: relative;
                height: 111px;
                align-items: center;
                display: flex;
                margin-bottom: 50px;
                @include respond-to("small") {
                    height: 250px;
                    width: 300px;
                    margin-left: 30px;
                }
                
                .datospersonales{
                    text-align: center;
                    display: flex;
                    margin-left: 100px;
                    justify-content: space-between;
                    position: absolute;
                    @include respond-to("small") {
                        flex-direction: column;
                    }
                    p{
                        color: $secondary-secondary03;
                        padding-left: 40px;
                        
                    }
                }
                .azul{
                    background-color: $secondary-secondary01;
                    border-radius: 23px;
                    width: 20%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    padding-left: 7px;
                }
            }

            .am-2 {
                background-color: $primary-primary02;
                border: none;
                border-radius: $border-radius-general;
                padding: 20px 40px;

                p {
                    color: $secondary-secondary03;
                }

                @include respond-to("small") {
                    margin-left: 30px;
                }

            }


            .am-3 {
                background-color: $primary-primary02;
                width: 462px;
                border: 6px solid $secondary-secondary01;
                border-radius: $border-radius-general;
                position: relative;
                z-index: 0;
                padding-bottom: 50px;
                padding-top: 20px;

                @include respond-to("small") {
                    margin-left: 30px;
                    width: 300px;
                }

                p {
                    color: $secondary-secondary03;
                    padding-left: 30px;
                    width: 120px;
                }

                .graphic {
                    position: absolute;
                    z-index: 1;
                    background-color: $primary-primary01;
                    width: 50%;
                    height: 10px;

                }

                .graphic-2 {
                    position: absolute;
                    z-index: 2;
                    background-color: $secondary-secondary01;
                    height: 10px;

                }

                .barra-1 {
                    width: 41%;
                }

                .barra-2 {
                    width: 36%;
                }

                .barra-3 {
                    width: 39%;
                }

                .col {
                    padding-top: 30px;
                }

            }
        }


        .img-right {
            text-align: end;
            width: 30%;
            @include respond-to("medium-l") {
                width: 500px;
                padding-top: 60px;
            }
        }
    }
}