@use "globals" as *;

header {
    background-color: $primary-primary02;
    width: 100%;

    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-menu;
        font-size: $font-size-menu;
        height: 160px;

        .menu-item1 {
            img{
                width: 233px;
                @include respond-to("small") {
                    width: 150px;
                }
            }
            
        }

        .menu-item2 {
            padding-right: 250px;

            @include respond-to("medium-l") {
                justify-content: center;
                padding-right: 100px;
            }
            @include respond-to("small") {
                padding-right: 0px;
            }

            li {
                list-style-type: none;
            }

            a:nth-child(1) {
                padding-left: 0;
            }

            a {
                padding-left: 100px;
                text-decoration: none;
                color: $secondary-secondary03;

                @include respond-to("medium-l") {
                    padding-left: 20px;
                }
                @include respond-to("small-medium") {
                    padding-left: 0px;
                }
            }

            @include respond-to("small") {
                display: none;
            }
        }


        .icono-lineas {
            display: none;

            li {
                list-style-type: none;
            }

            @include respond-to("small") {
                display: block;
                cursor: pointer; 
            }

            &:hover {
                .menu-item2 {
                    display: block;

                }

            }
        }
    }
}