@use "globals" as *;

.container {
  width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: #d9f1ff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.col {
  flex: 1;
  padding: 0.5rem;
}

.col-6 {
  flex: 0 0 50%; // 50% del ancho
}

.col-12 {
  flex: 0 0 100%; // 100% del ancho
}