// Importar aquí las variables que va a generar Figma
/* Mode 1 */
/* color */

$primary-primary01: rgb(217 241 255);
$primary-primary02: rgb(51 50 50);
$secondary-secondary01: rgb(92 193 255);
$secondary-secondary02: rgb(0 0 0);
$secondary-secondary03: rgb(240 233 209);
$disabled-disabled: rgb(251 171 208);
$support-support01: rgb(141 204 82);
$support-support02: rgb(249 234 71);
$support-support03: rgb(244 73 48);
$support-support04: rgb(0 207 253);
$pc-text1: rgb(215 186 114);
$pc-text2: rgb(255 215 0);
$pc-text3: rgb(105 206 254);
$pc-text4: rgb(181 206 168);
$pc-text5: rgb(206 145 120);
/* Mode 1 */
/* number */
$font-size-parrafo: 15px;
$font-size-menu: 20px;
$font-size-titulo: 60px;
/* string */
$font-family-menu: 'Times New Roman', Times;
$font-family-parrafo: sans-serif;
$font-family-titulo: Ralewayn;
$font-weight-titulo: 500;
/* Mode 1 */
/* number */
$shadow03: 9px;
$shadow04: 2px;
/* Mode 1 */
/* number */
$grid-small: 6;
$grid-medium: 10;
$grid-desktop: 12;


$border-radius-general:30px;